@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

:root{
    --aqua: hsl(192,37%,48%);
    --violet: hsl(268,34%,53%);
    --dark--blue: hsl(240,21%,20%);
    --grayish--blue: hsl(240,10%,57%);
    --light--blue: hsl(192,90%,77%);
    --soft--violet: hsl(268,100%,86%);
    --pearl: hsl(0,0%,98%);

}

*{
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    
}

html{
    font-family: 'Red Hat Display', sans-serif;
}

body{
    background-color: var(--pearl);
    text-align: center;
}

/* TITLE  */
h1{
    width: 327px;
    color: var(--dark--blue);
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto;
    font-weight: 900;
    margin-top: 51px;
    
}

/* media query for title */

@media (min-width: 768px){
    h1{
        font-size: 48px;
        line-height: 48px;
    }
}

@media (min-width: 1200px){
    h1{
        font-size: 64px;
        line-height: 64px;
        width: 445px;
        margin-top: 40px;
    }
}

header{
    padding-top: 68px;
    
}

.logo{
    display: block;
    margin: 0 auto;
    transition: all 1s;
}

.logo:hover{
    transform: scale(1.2)
}

.hero__image{
    margin-top: 51px;
    display: flex;
    width: 100%;
}
    /* Hero section background */
.hero__image--left{
    height: 153px;
    width: 212px;
    max-height: 820px;
    background-image: url(./images/image-hero-left.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -20px 0px;
}

.hero__image--right{
    height: 153px;
    width: 212px;
    max-height: 820px;
    background-image: url(./images/image-hero-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20px 0px;
}

@media (min-width: 768px) {
    .hero__image--left,
    .hero__image--right{
        width: 394px;
        height:303px;
    }
    .hero__image{
        justify-content: space-between;
        align-content: space-between;
        align-items: space-between;
    }
}

@media (min-width: 1200px) {
    .hero__image--left,
    .hero__image--right{
        width: 394px;
        height:303px;
        position: absolute;
    }

    .hero__image--right{
        right: 0;
    }
}

.hero__sub-title{
    margin: 0 auto;
    margin-top: 35px;
    width: 327px;
    height: 78px;
    text-align: center;
    color: var(--grayish--blue);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

@media screen and (min-width: 1200px) {

    .hero__sub-title{
        width: 540px;
        font-size: 18px;
        margin-top: 30px;
    }

    .hero{
        margin: 60px 0 0 0;
    }
}

/* BUTTONS */

.hero-buttton{
    color: white;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    transition: linear 250ms;
}

#blue-button{
    margin: 0 auto;
    margin-top: 51px;
    width: 193px;
    height: 58px;
    border-radius: 29px;
    background-color: var(--aqua);
    border-color: var(--aqua);
    box-shadow: none;
}

#blue-button span{
    color: var(--light--blue)
}

#violet-button{
    display: block;
    margin: 0 auto;
    margin-top: 21px;
    width: 139px;
    height: 58px;
    border-radius: 29px;
    background-color: var(--violet);
    border-color: var(--violet);
    box-shadow: none;
}

#blue-button:hover{
    transform: scale(1.05);
    background-color: #71C0D4;
}

#violet-button:hover{
    transform: scale(1.05);
    background-color: #B18BDD;
}

@media (min-width: 768px){
    #violet-button{
        margin-left: 25px;
        display: inline;
    }
}

@media (min-width: 1200px){
    .hero-buttton,
    #blue-button,
    #violet-button{
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

/* nummber1 section */

.line{
    margin: 0 auto;
    margin-top: 64px;
    width: 1px;
    height: 84px;
    background-color: var(--grayish--blue);
    opacity: 25%;
}

.button-number{
    width: 56px;
    height: 56px;
    border-radius: 29px;
    border: 1px solid hsla(240,10%,57%, 25%);
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    color: var(--grayish--blue);
    background-color: var(--pearl);
}

/* GALLERY  */

.gallery{
    margin: 0 auto;
    margin-top: 40px;
    width: 327px;
    height: 310px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.gallery-item{
    width: 150px;
    height: 143px;
    border-radius: 5px;
}

.item1{
    background-image: url('./images/image-woman-in-videocall.jpg');
    background-size: cover;
}
.item2{
    background-image: url('./images/image-women-videochatting.jpg');
    background-size: cover;
}
.item3{
    background-image: url('./images/image-men-in-meeting.jpg');
    background-size: cover;
}
.item4{
    background-image: url('./images/image-man-texting.jpg');
    background-size: cover;
}

@media (min-width: 768px){
    .gallery{
        margin-top: 95px;
        width: 90vw;
        height: auto;
    }

    .gallery-item{
        width: 24%;
        height: 156px;
    }
}

@media (min-width: 1200px){
    .gallery{
        width: 76.8vw;
        margin-bottom: 80px;
    }
    .gallery-item{
        width: 23%;
        height: 240px;
    }
}

/* INFORMATION SECTION */

.information-section{
    margin: 0 auto;
    margin-top: 64px;
    text-align: center;
    width: 327px;
}

#title-information-section{
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 4px;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--aqua);
}

#subtitle-information-section{
    color: var(--dark--blue);
    margin-top: 50px;
    font-weight: 900;
    line-height: 36px;
    font-size: 32px;
}

#paragraph-information-section{
    margin-top: 35px;
    text-align: center;
    color: var(--grayish--blue);
    font-size: 16px;
    font-weight: medium;
    line-height: 26px;
}

@media (min-width: 1200px){
    .information-section{
        width: 540px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #subtitle-information-section{
        font-size: 40px;
        line-height: 46px;
        width: 450px;
    }
    #paragraph-information-section{
        font-size: 18px;
    }
}

/* Number two section */

.number2-section{
    position: relative;
    top: 25px;
    z-index: 99;
}

/* FOOTER */

footer{
    width: 100%;
    height: 428px;
    background-image: url("./images/image-footer.jpg");
    background-color: var(--aqua);
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}

footer h2 {
    padding-top: 72px;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    color:var(--pearl);
}

footer p{
    width: 327px;
    margin: 0 auto;
    margin-top: 35px;
    text-align: center;
    color: var(--pearl);
    font-size: 18px;
    font-weight: medium;
    line-height: 26px;
}

footer button{
    display: block;
    margin: 0 auto;
    margin-top: 51px;
    width: 193px;
    height: 58px;
    border-radius: 29px;
    background-color: var(--violet);
    border-color: var(--violet);
    box-shadow: none;
    color: var(--pearl);
    font-weight: 900;
}

#span-footer-button{
    color: var(--soft--violet); 
}

@media (min-width: 1200px){
    footer{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    footer button,
    footer p{
        margin: 0;
    }

    footer h2,
    footer p{
        padding: 0;
        text-align: left;
    }
}